<h1 *if="level === '1'" part="heading" class="nds-heading__content"><slot>{{ text }}</slot></h1>
<h2 *if="level === '2'" part="heading" class="nds-heading__content"><slot>{{ text }}</slot></h2>
<h3 *if="level === '3'" part="heading" class="nds-heading__content"><slot>{{ text }}</slot></h3>
<h4 *if="level === '4'" part="heading" class="nds-heading__content"><slot>{{ text }}</slot></h4>
<h5 *if="level === '5'" part="heading" class="nds-heading__content"><slot>{{ text }}</slot></h5>
<h6 *if="level === '6'" part="heading" class="nds-heading__content"><slot>{{ text }}</slot></h6>
